<!-- <div *ngIf="url in ['','menu',]" else="admin"> -->
<div *ngIf="url=='true'">
  <app-header [un]="username"></app-header>
</div>
<!-- </div>
<ng-template #admin> -->
<!-- <app-adminheader></app-adminheader> -->
<!-- </ng-template> -->
<router-outlet></router-outlet>
<p *ngFor="let i of demoJson | keys">{{i['key']}} : {{i['value']}}</p>
<div *ngIf="url=='true'">
  <app-footer></app-footer>
</div>
<!-- <div class="modal" id="msgModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Modal body..
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
