<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
    <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i = index; let user of users; let f = first; let l=last">
      <td>{{user['FullName'] | uppercase}}</td>
      <td>{{user['MobileNo']}}</td>
      <td>
        <a class="btn btn-info" routerLink="/edit/{{user['id']}}" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;
        <a class="btn btn-success" [routerLink]="['/view',user['id']]" title="View"><span class="fa fa-eye"></span></a>&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="delete(user['id'])" title="Delete"><span class="fa fa-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="panel">
  <div>{{'uppercase' | uppercase}}</div>
  <div>{{'LOWERCASE' | lowercase}}</div>
  <div>{{2300 | number:'3.3'}}</div>
  <div>{{0.23 | percent:'2.3'}}</div>
  <div>{{23 | currency:'INR':true:'2.3'}}</div>
  <div>{{date}}</div>

</div>
